
// 引入基础样式库
@import './font/iconfont.scss';
@import './varibale.scss';
@import './mixins.scss';
/* 通用字号、颜色、按钮等 */
button::after{
    display: none;
}
button{
    padding: 0;
    margin: 0;
}

// 循环生成fz-10到fz-30
@for $i from 10 through 30 {
    .fz-#{$i} {
        font-size: #{2 * $i}rpx !important;
    }
}

// 循环生成mar-top2到30
@for $i from 2 through 60 {
    .mar-top-#{$i} {
        margin-top: #{$i}rpx !important;
    }
    .mar-left-#{$i} {
        margin-left: #{$i}rpx !important;
    }
    .mar-right-#{$i} {
        margin-right: #{$i}rpx !important;
    }
    .mar-bottom-#{$i} {
        margin-bottom: #{$i}rpx !important;
    }

    .pad-top-#{$i} {
        padding-top: #{$i}rpx !important;
    }
    .pad-left-#{$i} {
        padding-left: #{$i}rpx !important;
    }
    .pad-right-#{$i} {
        padding-right: #{$i}rpx !important;
    }
    .pad-bottom-#{$i} {
        padding-bottom: #{$i}rpx !important;
    }
    
}

.theme-color {
    color: $theme-color;
}
.pink-color{
    color: #f7776a !important;
}
.cyan-color{
    color: #16a5af !important;
}
.green-color{
    color: #188038 !important;
}
.red-color{
    color: #d13c0e !important;
}
.blue-color{
    color: $blueColor !important;
}
.dark-blue-color{
    color: $darkBlueColor;
}
.white-color{
    color: $whiteColor !important;
    
}
.black1a-color{
    color: #1a1a1a !important;
}
.gold-color{
    color: #fbd9a4 !important;
}
.color-666 {
    color: #666666 !important;
}
.color-999 {
    color: #999 !important;
}
.color-ccc {
    color: #ccc !important;
}
.color-search-bar {
    color: #909399 !important;
}
// 小区列表/学校列表的名字
.color-item-name {
    color:#303133 !important;
}
// 小区/学校列表的价格颜色
.color-prize {
    color:#EE3F4D !important;
}
.color-prize-last {
    color: #909399 !important;
}

// 字重
.fb-500 {
    font-weight: 500 !important;
}
.fb-600 {
    font-weight: bold !important; 
}
.fb-bold{
    font-weight: bold !important;
}

//flex 常用
.flex_layout{
    @include flexBox(flex-start, center);
}
.flex_layout_c{
    @include flexBox(center, center);
}
.flex_layout_e{
    @include flexBox(flex-end, center);
}
.flex_layout_b{
    @include flexBox(space-between, center);
}
.flex_layout_a{
    @include flexBox(space-around, center);
}
.flex_layout_w{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex_layout_n{
    @include flexBox(center, center);
    flex-direction: column;
}
.flex_layout_co{
    @include flexBox(flex-start, center);
    flex-direction: column;
}
.flex_layout_c_style{
    @include flexBox(center, center);
    margin: 30rpx 0;
}

// 文本相关
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// 分享按钮样式处理
.share-btn {
    background: none;
    line-height: 1;
    border-radius: 0;
}

// 多行省略
@for $i from 1 through 6 {
    .ellipsis-line-#{$i} {
        overflow: hidden; 
        text-overflow: ellipsis;
        display: -webkit-box; 
        -webkit-box-orient: vertical;
        -webkit-line-clamp: #{$i};
    }
}

// 对齐方式
.position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.top-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

// 基线对齐
.base-center {
    vertical-align: middle;
}



/* 骨架屏全局样式
 ---------------------------------------------------------------- */
 @keyframes gradient {
    0% {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .5;
    }
}

@mixin skeletons-child {
    .skeletons-child {
        background: #F2F2F2 !important;
        color: transparent !important;
        animation: gradient linear 1s infinite;
        > text,
        > view,
        > swiper,
        > button,
        > image {
            visibility: hidden;
        }
    } 
}

@include skeletons-child;

.skeletons {
   .skeletons-rect {
        @include skeletons-child;
   }

   .skeletons-circle {
        @include skeletons-child;
        border-radius: 50% !important;
   }
}