// 主题颜色
$theme-color: #1478FF;
// 次要颜色
$theme-sec-color: #1478FF;
// 其他色值
$whiteColor: #fff;
$redColor: #ee3f4d;
$blueColor: #2d8cf0;
$darkBlueColor: #0053b0;
$darkBlue8Color: rgba(0,83,176,.8);
$paleBlueColor: #f0f5fa;
$newBlueColor: #2F8CEF;
$newBlack3Color: #303237;
$newGray9Color: #96989E;
// 加载的颜色
$loadingColor: #999;
