// 引入基础样式库
@import './mixins.scss';

body, div, span, header, footer, nav, section, aside, article, 
ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, 
button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:hover{
        outline: none;
    }
}
  

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
// ::-webkit-scrollbar  
// {  
//     width: 0px;  
//     height: 0px;  
//     background-color: #F5F5F5;  
// }  
  
// /*定义滚动条轨道 内阴影+圆角*/  
// ::-webkit-scrollbar-track  
// {  
//     -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
//     border-radius: 10px;  
//     background-color: #F5F5F5;  
// }  
  
// /*定义滑块 内阴影+圆角*/  
// ::-webkit-scrollbar-thumb  
// {  
//     border-radius: 10px;  
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
//     background-color: #555;  
// }  

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
    height: 100%;
    width: 100%;
    background-color: #fff;
}


.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

// 字重
.fb-500 {
    font-weight: 500 !important;
}
.fb-600 {
    font-weight: bold !important; 
}
.fb-bold{
    font-weight: bold !important;
}

//flex 常用
.flex_layout{
    @include flexBox(flex-start, center);
}
.flex_layout_c{
    @include flexBox(center, center);
}
.flex_layout_e{
    @include flexBox(flex-end, center);
}
.flex_layout_b{
    @include flexBox(space-between, center);
}
.flex_layout_a{
    @include flexBox(space-around, center);
}
.flex_layout_w{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex_layout_n{
    @include flexBox(center, center);
    flex-direction: column;
}
.flex_layout_co{
    @include flexBox(flex-start, center);
    flex-direction: column;
}
.flex_layout_c_style{
    @include flexBox(center, center);
    margin: 30rpx 0;
}

// 文本相关
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// 分享按钮样式处理
.share-btn {
    background: none;
    line-height: 1;
    border-radius: 0;
}

// 多行省略
@for $i from 1 through 6 {
    .ellipsis-line-#{$i} {
        overflow: hidden; 
        text-overflow: ellipsis;
        display: -webkit-box; 
        -webkit-box-orient: vertical;
        -webkit-line-clamp: #{$i};
    }
}

// 对齐方式
.position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.top-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

// 基线对齐
.base-center {
    vertical-align: middle;
}

// 循环生成fz-10到fz-30
@for $i from 10 through 30 {
    .fz-#{$i} {
        font-size: #{1 * $i}px !important;
    }
}

// 循环生成mar-top2到30
@for $i from 2 through 60 {
    .mar-top-#{$i} {
        margin-top: #{$i}px !important;
    }
    .mar-left-#{$i} {
        margin-left: #{$i}px !important;
    }
    .mar-right-#{$i} {
        margin-right: #{$i}px !important;
    }
    .mar-bottom-#{$i} {
        margin-bottom: #{$i}px !important;
    }

    .pad-top-#{$i} {
        padding-top: #{$i}px !important;
    }
    .pad-left-#{$i} {
        padding-left: #{$i}px !important;
    }
    .pad-right-#{$i} {
        padding-right: #{$i}px !important;
    }
    .pad-bottom-#{$i} {
        padding-bottom: #{$i}px !important;
    } 
}

.black-color {
    color: #000;
}



